
NET "CLOCK_I" LOC = H12;
NET "CLOCK_I" IOSTANDARD = "LVCMOS18";

NET "COUNT_I" LOC = C22;
NET "COUNT_I" IOSTANDARD = "LVCMOS18";

NET "CLEAR_I" LOC = D21;
NET "CLEAR_I" IOSTANDARD = "LVCMOS18";

NET "LED_O[0]" LOC = G19;
NET "LED_O[0]" IOSTANDARD = "LVCMOS18";
NET "LED_O[1]" LOC = F20;
NET "LED_O[1]" IOSTANDARD = "LVCMOS18";
NET "LED_O[2]" LOC = F18;
NET "LED_O[2]" IOSTANDARD = "LVCMOS18";
NET "LED_O[3]" LOC = C20;
NET "LED_O[3]" IOSTANDARD = "LVCMOS18";

